body {
    background-color: rgb(33, 87, 189);
    padding: 0 40px;
    color: white;

    .container {
        display: flex;
        flex-direction: column;

        .first-column {
            display: flex;
            justify-content: space-between;
            margin: 20px 0 80px;

            .flex-item {
                h1 {
                    font-size: 30px;
                }
            }
        }

        .second-column {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .lotek {
                display: flex;
            }
        }
    }

}